/*  your css code here. If applicable */
div{
	width:200px;
	height:200px;
	background:lightblue;
	border:2px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	font-weight:bold;
	color:purple
}

body{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}